

@model List<Student_Course>

<style>
    .student-mark-form {
        min-width: 300px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .course-marks-container {
        display: grid;
        gap: 15px;
    }

    .course-mark-item {
        display: grid;
        gap: 5px;
    }

    .course-name {
        color: #333;
        font-weight: bold;
    }

    .mark-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .button {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

        .button a, .button input {
            display: block;
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            font-weight: bold;
            background: linear-gradient(45deg, #1a2a6c, #b21f1f);
            border-radius: 10px;
            cursor: pointer;
        }

        .button input {
            border: none;
            outline: none;
        }

            .button a:hover, .button input:hover {
                background: linear-gradient(45deg, #2a4c8c, #d12e2e)
            }

    .validation-error {
        color: #dc3545;
        font-size: 0.8em;
    }

    .Header {
        padding:10px;
        text-align:center;
    }
</style>




<form method="post" asp-controller="Student" asp-action="SaveUpdatedMark" class="student-mark-form">
    @if (ViewBag.State == "Add")
    {
        <h3 class="Header">Add Student Mark</h3>
    }
    else
    {
        <h3 class="Header">Update Student Mark</h3>
    }
    <hr />
    <div class="course-marks-container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="course-mark-item">
                <input asp-for="@Model[i].Student_Id" type="hidden" />
                <input asp-for="@Model[i].Course_Id" type="hidden" />
                <label class="course-name">@Model[i].Course_ref.CourseName</label>
                <input asp-for="@Model[i].Mark" class="mark-input" />
                <span asp-validation-for="@Model[i].Mark"></span>
            </div>
        }
    </div>
    <div class="button">
        <a asp-controller="Student" asp-route-StudentId="@Model[0].Student_Id" asp-action="ShowStudentMark">Back</a>
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>




