

@model List<Student_Course>

<style>
    .Form {
        background-color:white;
        padding:20px;
        border-radius:10px;
    }
    .Dev {
        margin-bottom:8px;
    }

    .Dev label {
        border-bottom:5px;
        font-weight:bold;
    }
    .button {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

        .button a,.button input {
            display: block;
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            font-weight: bold;
            background: linear-gradient(45deg, #1a2a6c, #b21f1f);
            border-radius: 10px;
            cursor: pointer;
        }

            .button input {
                border:none;
                outline:none;
            }

            .button a:hover,.button input:hover {
                background: linear-gradient(45deg, #2a4c8c, #d12e2e)
            }
</style>

<form method="post" asp-controller="Student" asp-action="SaveUpdatedMark" class="Form">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="Dev">
            <input asp-for="@Model[i].Student_Id" hidden />
            <input asp-for="@Model[i].Course_Id" hidden />
            <label>@Model[i].Course_ref.CourseName</label>
            <input asp-for="@Model[i].Mark" class="form-control" class="Input-Mark"/>
            <span asp-validation-for="@Model[i].Mark" class="text-danger"></span>
        </div>
    }
    <div class="button">
        <a asp-controller="Student" asp-action="getAllStudent">Back</a>
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>




