
@model UpdateMarkAtCourseVM;

<style>
    form {
        padding: 20px;
        max-width: 500px;
        background-color: #fff;
        border-radius: 20px;
    }

    .Dev {
        margin-bottom: 5px;
    }

    .Header {
        padding: 15px 20px;
        background: linear-gradient(45deg, #1a2a6c, #b21f1f);
        text-align: center;
        width: 100%;
        color: #fff;
        border-radius: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .button {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

        .button input {
            border: none;
            outline: none;
        }

        .button a, .button input {
            display: block;
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            font-weight: bold;
            background: linear-gradient(45deg, #1a2a6c, #b21f1f);
            margin: 0px 20px;
            border-radius: 10px;
            cursor: pointer;
        }

            .button a:hover, .button input:hover {
                background: linear-gradient(45deg, #2a4c8c, #d12e2e);
            }
</style>


<form method="post" asp-action="SaveUpdateStudentMarkInCourse" asp-controller="Course">

	<h3 class="Header">@Model.CourseName</h3>
	<input asp-for="@Model.CourseId" hidden />
	<input asp-for="@Model.CourseName" hidden />
	@for (int i = 0 ; i < Model.StudentMarks.Count; i++)
	{
		<div class="Dev">
			<input asp-for="@Model.StudentMarks[i].StudentId" hidden />
			<input asp-for="@Model.StudentMarks[i].OldMark" hidden />
			<label>@Model.StudentMarks[i].StudentName</label>
			<input asp-for="@Model.StudentMarks[i].NewMark" class="form-control" />
			<span asp-validation-for="@Model.StudentMarks[i].NewMark" class="text-danger"></span>
		</div>
	}
	<div class="button">
		<a asp-action="Index" asp-controller="Course">Back</a>
		<input type="submit" value="Update" />
	</div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>







